*.ps1
*.log
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
build/
todo/
clone/
cachedir/
project/
vendor
.idea/
*.apk
*.json
todo/
clone/
build_debug/
build/
/init.cmd
/cmds.cmd
.codeartsdoer/
scripts/
script/
kGe/
todo/
x64dbg_mcp\todo遗址脚本/